head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  block title
    title #{title}
  meta(name="description" content="")
  meta(name="keywords" content="")
  link(rel="shortcut icon" href="favicon.ico")
  include ../_styles.jade
  |<!--[if lt IE 9]>
  <link href="http://rawgit.com/codefucker/finalReject/master/reject/reject.css" rel="stylesheet"/>
  <script src="http://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script>
  <script src="http://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
  |<![endif]-->