//- BASE VARIABLES
-var title = 'Заголовок страницы'
-var body_classes // = ['page_id']
  //- layout
-var nav_class = 'navigation'
-var multipage = false
if multipage
  -var home = false
-var sidebar_left = false
-var sidebar_right = false
-var panel = true
