//- BASE VARIABLES
-var home = false
-var title = 'title'
-var section = false
  //- layout
-var nav_class = 'navigation'
-var sidebar_left = false
-var sidebar_right = false
  //- panels
-var panel = true
