// HEADER
header.main-header
  .header-title
    margin: 0
    display: inline
  .logo
    text-decoration: none
    color: $tm_color_d
    img
      display: block
  .header-tools
  .list-tel
    a
      text-decoration: none
      color: $tm_color_d
    .cod
      color: #ccc
    .num
      font-weight: 700

// NAV
.main-menu
  position: relative
  .nav
    li
      position: relative
      &:first-child
      a
        background: #ddd
        color: $tm_color_d
        display: block
        padding: 0 15px
        line-height: 38px
        text-decoration: none
        font-weight: bold
      & a:hover,
      &.active a
        color: #fff
        background: #999
