include _variables.jade
block var
include _mixins.jade
include ../_project_mixins.jade
doctype html
html(lang="ru")
  include _head.jade
  if multipage
    body.page(
      class = home?'page_home':'page_post'
      class = sidebar_left?'page_sidebar_left':''
      class = sidebar_right?'page_sidebar_right':''
      class=body_classes)
      .page__inner
        // HEADER START 
        include ../_header.jade
        // HEADER END 
        // MAIN START 
        main.main
          +with_sidebars()
        // MAIN END 
      // FOOTER START 
      include ../_footer.jade
      // FOOTER END 
      // MODALS START 
      .hidden
        include ../_modals.jade
      // MODALS END 
      include ../_scripts.jade
  else
    body.page(class=body_classes)
      .page__inner
        // HEADER START 
        include ../_header.jade
        // HEADER END 
        // SECTION START 
        block content
        // SECTION END 
      // FOOTER START 
      include ../_footer.jade
      // FOOTER END 
      // MODALS START 
      .hidden
        include ../_modals.jade
      // MODALS END 
      include ../_scripts.jade
