include ../_variables.jade
include _mixins.jade
include ../_utils.jade
doctype html
html(lang="ru")
  //- CONNECT HEAD
  include _head.jade
    block styles
      include ../_inc/_styles.jade
  //- CONNECT BODY
  - var attributes = {}
  - attributes.class = [multipage ? (home ? 'page_home' : 'page_post') : '']
  - attributes.class.push(sidebarLeft ? 'page_sidebar_left' : '')
  - attributes.class.push(sidebarRight ? 'page_sidebar_right' : '')
  body.page(class=bodyClasses)&attributes(attributes)
    // PAGE-WRAP START 
    .page-wrap
      if header
        // HEADER START 
        include ../_inc/_header.jade
        // HEADER END 
      if multipage
        // MAIN START 
        main.main
          .container
            h1.main-title #{title}
            if sidebarLeft || sidebarRight
              .main-layout
                .main-layout__content
                  block content
                include ../_inc/_sidebar.jade
            else
              block content
        // MAIN END 
      else
        // SECTION START 
        block content
        // SECTION END 
    // PAGE-WRAP END 
    //- CONNECT FOOTER
    if footer
      // FOOTER START 
      include ../_inc/_footer.jade
      // FOOTER END 
    if modals
      // MODALS START 
      .hidden
        include ../_inc/_modals.jade
      // MODALS END 
    include ../_inc/_scripts.jade
