//- BASE MIXINS
  //- connection files
mixin styles(...files)
  each file in files
    link(rel="stylesheet" href=file)
mixin scripts(...files)
  each file in files
    script(src=file)
  //- nav links

//- Current page
  mixin title(tit)
    each item in main_menu
      if (item.val == tit)
        - title = tit
        - activeMenu = tit
        - var pageClass = item.url.slice(0,item.url.lastIndexOf('.'));
        - bodyClasses = ['page_'+pageClass]
