//- BASE VARIABLES
-var title = 'Заголовок страницы'
-var bodyClasses // = ['page_id']

//- layout
-var multipage = false
if multipage
  -var home = false
-var sidebarLeft = false
-var sidebarRight = false

//- Includes blocks
-var favicon = false
-var header = true
-var footer = true
-var modals = true
-var panel = true

//- Connection variables to main
block variables