//- BASE VARIABLES
-var title = 'Заголовок страницы'
-var bodyClasses // = ['page_id']

//- layout
-var multipage = false
if multipage
  -var home = false
-var sidebarLeft = false
-var sidebarRight = false

-var header = true
-var footer = false
-var modals = true

//- Panels
-var panel = true

//- Connection variables to main
block variables