//- BASE VARIABLES
-var title = 'Заголовок страницы'
-var bodyClasses = []

//- layout
-var multipage = false
if multipage
  -var home = false
-var sidebarLeft = false
-var sidebarRight = false

//- Includes blocks
-var favicon = false
-var header = true
-var footer = true
-var modals = true
-var panel = true

//- Cache-busting plugin for gulp
-var revAppend = '' //'?rev=@@hash'


//- Connection variables to main
block variables