input,textarea
  +placeholders
    color: #aaa
    opacity: 1
  &:focus
    +placeholders
      opacity: .5
.form
  $inputHt: 32
  $inputPgWt: 10
  $inputPgHt: 5
  #{$text-inputs}
    outline: none
    margin: 0 0 5px
    padding: $inputPgHt+px $inputPgWt+px
    line-height: ($inputHt -$inputPgHt*2)-2+px
    height: $inputHt+px
    font-family: $tm_ff_d
    color: $tm_color_d
    //edit
    font-size: 14px
    background: #fff
    border: 1px solid #ddd
    &:focus
      border-color: #aaa
  textarea
    min-height: 100px
    height: auto
  label
    display: inline-block
    margin-bottom: 2px
  &__item
    margin-top: 5px
    &:first-child
      margin-top: 0
    &_btn
      margin-top: 15px
