.container {
	width: 1230px;
}

.header {
	width: 1230px;
}
.logo {
	width: 130px;
	float: left;
}
.menu-no-logo {
	float: left;
	width: 1100px;
	height: 83px;
	padding-top: 30px;
}
.menu {
	padding-left: 40px;
	width: 700px;
	float: left;

}
.search {
	padding-left: 40px;
	width: 230px;
	float: left;
}
.user {
	width: 130px;
	float: right;
}

.global-menu {
 padding-left: 0px;
}
ul.global-menu li {
    display: inline;
    text-transform: uppercase;
    color: #000;
    padding-left: 30px;
}
ul.global-menu li a {
    color: #000;
    font-size: 16px;
    font-family: MyriadPro-Regular;
    font-weight: normal;
    text-transform: uppercase;
    display: inline;
}
.icon-search {
	position: absolute;
    z-index: 1;
    margin-top: 9px;
    margin-left: 170px;	
}
.input-group {
	padding-top: 23px;
	text-align: right;
	float: right;
	width: 230px;
}
.global-user {
	padding-left: 0px;
	font-size: 14px;
    font-family: MyriadPro-Regular;
    text-align: right;
    padding-top: 5px;
}
.global-user a {
	color: #000;
}
.global-user li {
	list-style-type: none;
	text-align: left;
}
.icon {
	margin-right: 10px;
	margin-bottom: 5px;
}
.global-search {
	width: 195px;
	border-radius: 15px;
	border: none;
	background-color: #eaeaea;
	height: 30px;
}
h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{

    background: #333;    
    text-align: center;
    height: 480px !important;
}
.carousel{
    margin-top: 85px;
}
.item > a > img {
    line-height: 1;
    width: 1230px;
}
.slaider{
	width: 1230px;
}

h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #333;    
    text-align: center;
    height: 480px !important;
}
.carousel{
    margin-top: 83px;
}
.slaider-profile {
    background-color: rgba(14, 14, 14, 0.89); /* Цвет фона и значение прозрачности */
    width: 300px;
    height: 480px;
    z-index: 500;
    position: relative;
    float: right;
}
.carousel-indicators ol {
	width: 50px;
}
.body-slaider {
	text-align: left;
	line-height: 23px;
	font-size: 18px;
	font-family: 'SourceSansPro-Light';
}
.title-slaider {
	text-align: left;
	line-height: 23px;
	font-size: 56px;
	font-family: 'SourceSansPro-Light';
}
.ava-mini-slaider {
	float: left;
	border: solid #FFF 3px;
	border-radius: 50px;

}
.data-slaider {
	height: 50px;
    margin-bottom: 50px;
}
.text-slaider {
	padding-left: 70px;
    padding-top: 10px;
}
.slaider-arrow {
	padding-right: 10px;
	padding-left: 10px;
}
.btn-left {
	float: left;
	margin-top: 20px;
}
.btn-read {
	border-radius: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	margin-right: 30px;
	background-color: rgba(255, 255, 255, 0);
	border: solid #f1e21b 2px;
}
.carousel-caption {
    right: 20%;
    left: 10%;
    padding-bottom: 135px;
}
.item2 {
	background-image: url(../img/slaider1.png);
}
.item2:before {
	background-image: url(../img/slaider1.png);
	background-color: rgba(14, 14, 14, 0.89); /* Цвет фона и значение прозрачности */
}
.slaider-like {
    list-style-type: none;
    float: left;
    position: absolute;
    /* left: 130px; */
    padding-left: 0;
    padding-top: 80px;
}
ul.slaider-like li {
    display: inline;
    text-transform: uppercase;
    color: #fff;
    padding-left: 30px;
    font-size: 20px;
    font-family: 'SourceSansPro-Regular';
}