// FOOTER START 
footer.footer
  .container
    .row
      .col-xs-6
        p.copyright © 2015 Copyright
      .col-xs-6
        p.developer.fr Разработка сайта:
          a(href="//studio.ru" target="_blank") studio.ru
// FOOTER END 