//- PROJECT VARIABLES
//- main menu
//- or reference type <a href="index.html">Главная</a>
  -var v_main_menu = {'Главная':'index.html','О компании':'about.html','Контакты':'contacts.html'}
-var v_main_menu = ['Главная','О компании','Новости','Контакты']