|<!-- build:js js/vendor.min.js -->
// bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/jquery-placeholder/jquery.placeholder.js')
script(src='/bower/jQuery.equalHeights/jquery.equalHeights.js')
// endbower
|<!-- endbuild -->
+scripts("js/theme.js")
