if left_sidebar
  // left-sidebar start 
  aside.left-sidebar
    if panel
      .panel
        h3.panel-title left panel
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quae eius, vitae inventore necessitatibus. Cumque nobis ea mollitia blanditiis qui quam natus, eligendi laboriosam optio quis. Sit saepe, nobis eius.
  // left-sidebar end 

if right_sidebar
  // right-sidebar start 
  aside.right-sidebar
    if panel
      .panel
        h3.panel-title right panel
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quae eius, vitae inventore necessitatibus. Cumque nobis ea mollitia blanditiis qui quam natus, eligendi laboriosam optio quis. Sit saepe, nobis eius.
  // right-sidebar end 