//- 
  +styles(
  ""
  )
|<!-- build:css css/vendors.min.css -->
// bower:css
link(rel='stylesheet', href='/bower/fancyBox/source/jquery.fancybox.css')
// endbower
|<!-- endbuild -->
|<!-- build:css css/theme.min.css -->
+styles("css/theme.min.css")
|<!-- endbuild -->
+scripts("js/modernizr.js")