@include footer_fixed(45px,20px);
.s-footer {
  a {
    &:hover {}
  }
}
.footer-menu {
  $rootParent: &;
  $navHt: 38px;
  text-align: center;
  line-height: 0;
  ul {
    @extend .clearfix;
    list-style: none;
    display: inline-block; }
  &__list {
    margin: 0;
    padding: 0; }
  &__item {
    position: relative;
    float: left;
    margin: 0 5px; }
  &__link {
    color: $tm_color_d;
    line-height: 1.2;
    text-decoration: none !important;
    display: block; }
}
