.main-header
.logo
  float: left
  margin: 0
  a
    text-decoration: none
    color: $tm_color_d
  img
.header-tools
.contacts
  font-style: normal
.contacts-list
  a
    text-decoration: none
    color: $tm_color_d
  .cod
    color: #ccc
  .num
    font-weight: 700
