.main-menu
  position: relative
  .nav
    li
      position: relative
      &:first-child
      a
        background: #ddd
        color: $tm_color_d
        display: block
        padding: 0 15px
        line-height: 38px
        text-decoration: none
        font-weight: bold
      & a:hover,
      &.active a
        color: #fff
        background: #999