// FOOTER START 
footer.main-footer
  .container
    .row.show_grid
      .col-xs-6
        p.copyright © 2015 Rightblog.ru Copyright
      .col-xs-6
        p.developer.fr Разработка сайта:
          a(href="//studio.ru" target="_blank") studio.ru
// FOOTER END 