extends _template/_base/_main.jade
block variables
  -var title = 'Главная'
  -var multipage = true
  -var home = true
  -var sidebar_left = true
  -var sidebar_right = true
  -var active_menu = title
  -var body_classes = ['page_hrom']
block content
  - for (var x = 0; x < 1; x++)
    p
      | С другой стороны дальнейшее развитие различных форм деятельности играет важную роль в формировании систем массового участия. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий требуют от нас анализа дальнейших направлений развития. Разнообразный и богатый опыт консультация с широким активом в значительной степени обуславливает создание соответствующий условий активизации. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание модели развития.
    p
      | Таким образом дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! сложившаяся структура организации требуют определения и уточнения новых предложений.

  form.form
    .form__item
      label Ваше имя
      br
      input(name="name" type="text" placeholder="Ваше имя" required)
    .form__item
      input(name="email" type="email" placeholder="Ваш e-mail" required)
    .form__item
      input.phone.phone_ru(name="phone" type="tel" placeholder="Ваш телефон" required)
    .form__item
      textarea.w100p( rows="5" name="msg" placeholder="Сообщение" required)
    .form__item.form__item_btn
      button.btn.btn_blue.lh_32(type="submit")
        | submit

