// DESKTOP METHOD
@media (max-width: 1199px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {}
@media (max-width: 479px) {}
@media (max-width: 319px) {}

// MOBILE METHOD
@media (min-width: 320px) {}
@media (min-width: 480px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}


// TEMPLATE STYLE
.visible-xxs {
  display: none !important; }
@media (max-width: 479px) {
  .visible-xxs {
    display: block !important; }
  .hidden-xxs {
    display: none !important; }
}

// Disable Animation on Mobile Devices
@media (max-width: 767px) {
  .animated {
    opacity: 1;
    transition-property: none !important;
    transform: none !important;
    animation: none !important; }
}