// misin Group
  // +multiSize('fz',em,(5,10,15,20,25,30))
  // +multiSize('lh',px,(5,10,15,20,25,30))
  // +multiSize('mg-tb',px,(5,10,15,20,25,30))
  // +multiSize('pg-tb',px,(5,10,15,20,25,30))
  // +multiSize('btn-pg',px,(5,10,15,20,25,30))
  // +multiSize('list-items-mg',px,(5,10,15,20,25,30))
  // +multiSize('row-items-mg',em,(5,10,15,20,25,30))
  // +multiSize('row-items-mg-b',px,(5,10,15,20,25,30))
  // +multiSize('tbl-items-pg',px,(5,10,15,20,25,30))

.bg-color
  &_white
    background-color: #fff !important
  &_black
    background-color: #000 !important
.tx-color
  &_white
    color: #fff !important
  &_black
    color: #000 !important
  &_a
    color: $tm_color_a !important
  &_b
    color: $tm_color_b !important
  &_d
    color: $tm_color_d !important
  &_link
    color: $tm_color_link_a !important
.wrap
  margin-left: auto
  margin-right: auto
  &_w800
    max-width: 800px


// blocks Group
.b-
  &__
  &__

// section Group
.s-
  &__
  &__

// list Group
.list-
  &__
  &__


