.bg {
  &_white {
    background-color: #fff; }
  &_black {
    background-color: #000; }
}
.tx {
  &_color {
    &_white {
      color: #fff !important}
    &_black {
      color: #000 !important}
    &_a {
      color: $tm_color_a !important}
    &_b {
      color: $tm_color_b !important}
    &_d {
      color: $tm_color_d !important}
    &_link {
      color: $tm_color_link_a !important}
  }
}
.wrap {
  margin-left: auto;
  margin-right: auto;
  &_w800 {
    max-width: 800px}
}

// @include multiSize('fz',em,(14,16,32))
// @include multiSize('lh',px,(14,16,32))
// @include multiSize('mg-tb',px,(14,16,32))
// @include multiSize('pg-tb',px,(14,16,32))
// @include multiSize('btn-pg',px,(14,16,32))
// @include multiSize('list-items-mg',px,(14,16,32))
// @include multiSize('row-items-mg',em,(14,16,32))
// @include multiSize('row-items-mg-b',px,(14,16,32))
// @include multiSize('tbl-items-pg',px,(14,16,32))


// blocks
.b- {
  &__ {}
}

// sections
.s- {
  &__ {}
}

// lists
.list- {
  &__ {}
}


