// Multi Indents
+mi('lh', em, 0 20 30 34)
+mi('fz', em, 0 10 11 12 13 15)
+mi('mg-t', em, 0 5 10 15 20 25 30)
+mi('mg-b', em, 0 5 10 15 20 25 30)
+mi('mg-tb', em, 0 5 10 15 20 25 30)
+mi('pg-l', em, 0 5 10 15 20 25 30)
+mi('pg-r', em, 0 5 10 15 20 25 30)
+mi('pg-lr', em, 0 5 10 15 20 25 30)
// +mi('row-items-mg-l', em, 0 5 10 15 20 25 30)
// +mi('row-items-mg-b', em, 0 5 10 15 20 25 30)

.bg-color
  &_white
    background-color: #fff !important
  &_black
    background-color: #000 !important
.tx-color
  &_white
    color: #fff !important
  &_black
    color: #000 !important
  &_a
    color: $tm_color_a !important
  &_b
    color: $tm_color_b !important
  &_d
    color: $tm_color_d !important
  &_link
    color: $tm_color_link_a !important
.wrap
  margin-left: auto
  margin-right: auto
  &_w800
    max-width: 800px


// blocks Group
.b-
  &__
  &__

// section Group
.s-
  &__
  &__

// list Group
.list-
  list-style: none
  padding: 0
  margin: 0
  
  &__
  &__


