$src_img:  '../images/theme/';
$src_font: '../fonts/';

// TRANSITION
  @mixin tsn($speed: .15) {
    transition:
      box-shadow $speed+s,
      background-color $speed+s,
      border-color $speed+s,
      color $speed+s
  }
  @mixin tsn_ops($speed: .15) {
    transition: opacity $speed+s
  }
  @mixin tsn_all($speed: .15) {
    transition: all $speed+s
  }
  @mixin tsn_off() {
    transition: none !important
  }
// BACKGROUND
  @mixin bg($img,$x:0,$y:0,$c:transparent,$r:no-repeat) {
    background: url('#{$src_img}#{$img}') $c $x $y $r }
  @mixin bg_data($img,$x:0,$y:0,$c:transparent,$r:no-repeat){
    background: url('#{$src_img}data:image/png;base64,#{$img}') $c $x $y $r }
// FOOTER
  // push footer
  @mixin footer_fixed($h, $t:0) {
    html,body {
      height: 100%;
    }
    body {
      &>.page__inner {
        min-height: 100%;
        &:after {
          content: ' ';
          display: block;
          height: $h+$t;
        }
      }
      &>.s-footer {
        height: $h;
        margin-top: -$h;
      }
    }
    html.fancybox-lock body {
      overflow: visible !important;
    }
  }
// IMAGES
  @mixin icons($url:'#{$src_img}icons.png') {
    background-image: url($url);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: -1px;
    vertical-align: middle;
  }
  @mixin icomoon() {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @mixin img_fit($h:200px, $bg:#fff) {
    background: $bg;
    display: block;
    overflow: hidden;
    text-align: center;
    font-size: 0;
    height: $h;
    line-height: $h;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  @mixin img_zoom($op:.7) {
    overflow: hidden;
    display: inline-block;
    img {
      transition: all 0.35s;
    }
    &:hover img {
      transform: scale(1.1);
      opacity: $op;
    }
  }
  @mixin img_radius($z:100px,$bd_z:5px,$bd_c:#e00) {
    border: $bd_z solid $bd_c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    >* {
      width: $z;
      height: $z;
      display: block;
      overflow: hidden;
      border-radius: 50%;
      img {
        display: block;
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
  }
  @mixin img_center($w:200px,$h:200px) {
    position: relative;
    overflow: hidden;
    width: $w;
    height: $h;
    img {
      margin: auto;
      max-width: 100%;
      height: auto;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
// SIZE
  @mixin z($value) {
    $width: nth($value, 1);
    $height: $width;

    @if length($value) > 1 {
      $height: nth($value, 2);
    }

    @if is-size($height) {
      height: $height;
    } @else {
      @warn "`#{$height}` is not a valid length for the `$height` parameter in the `size` mixin.";
    }

    @if is-size($width) {
      width: $width;
    } @else {
      @warn "`#{$width}` is not a valid length for the `$width` parameter in the `size` mixin.";
    }
  }
// BORDER
  // border-link
  @mixin border_link($type: dotted, $color: $tm_color_link_a, $hover: $tm_color_link_b) {
    border-width: 0 0 1px;
    display: inline-block;
    text-decoration: none !important;
    line-height: 0.9em;
    color: $color;
    border-color: $color;
    @if $type == solid {
      border-style: solid;
    } @else if $type == dashed {
      border-style: dashed;
    } @else {
      border-style: dotted;
    }
    &:hover {
      color: $hover;
      border-color: $hover;
    }
  }
  // link effects
  @mixin link_eff_line_center($z:1px, $color:$tm_color_link_b) {
    position: relative;
    text-decoration: none;
    &::before {
      background: $color;
      height: $z;
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      right: 50%;
      top: 1.05em;
      @include tsn_all;
    }
    &:hover {
      color: $color;
      &::before {
        left: 0;
        right: 0;
      }
    }
  }
  // border-radius
  @mixin br($r:50%) {
    border-radius: $r
  }
// FORM
  // placehold
  @mixin placeholders {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
      &:#{$placeholder}-placeholder {
        @content;
      }
    }
  }
  // @type List
  $text-inputs-list: 'input[type="color"]',
                     'input[type="date"]',
                     'input[type="datetime"]',
                     'input[type="datetime-local"]',
                     'input[type="email"]',
                     'input[type="month"]',
                     'input[type="number"]',
                     'input[type="password"]',
                     'input[type="search"]',
                     'input[type="tel"]',
                     'input[type="text"]',
                     'input[type="time"]',
                     'input[type="url"]',
                     'input[type="week"]',
                     'textarea';
  $text-inputs:        assign-inputs($text-inputs-list);
  $text-inputs-active: assign-inputs($text-inputs-list, active);
  $text-inputs-focus:  assign-inputs($text-inputs-list, focus);
  $text-inputs-hover:  assign-inputs($text-inputs-list, hover);
// LINEAR-GRADIENT
  @mixin lgr($t,$b) {
    background-color: $b;
    background-image: linear-gradient(to bottom, $t 0%,$b 100%);
  }
// FONTS
  @mixin font($ff, $url) {
    @font-face {
      font-family: $ff;
      src: url(#{$src_font+$url}.eot);
      src: url(#{$src_font+$url}.eot?#iefix) format('embedded-opentype'),
           url(#{$src_font+$url}.woff) format('woff'),
           url(#{$src_font+$url}.woff2) format('woff2'),
           url(#{$src_font+$url}.ttf) format('truetype'),
           url(#{$src_font+$url}.svg##{$ff}) format('svg');
      font-weight: normal;
      font-style: normal;
    }
  }
  @mixin g_font($ff, $loc1, $loc2, $url, $fw, $fs) {
    @font-face {
      font-family: $ff;
      src: local($loc1), local($loc2),
           url(#{$src_font+$url}.woff) format('woff'),
           url(#{$src_font+$url}.woff2) format('woff2');
      font-weight: $fw;
      font-style: $fs;
    }
  }
  @mixin ffn {
    font-weight: normal;
    font-style: normal;
  }
// MENU STYLES
  @mixin menu_justify($h:50px){
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: justify;
    overflow: hidden;
    height: $h;
    >*{
      display: inline;
      a{
        display: inline-block;}
    }
    &:after{
      content: ".";
      margin-left: 100%;
      display: inline-block;}
  }

// font-size, line-height, margins, paddings
@mixin multiSize($task,$px,$arr) {
  @each $size in $arr {
    @if $task == 'fz' {
      .fz_#{$size} {
        font-size: $size + $px;
      }
    }
    @if $task == 'lh' {
      .lh_#{$size} {
        line-height: $size + $px;
      }
    }
    @if $task == 'mg-t' {
      .mg-t_#{$size} {
        margin-top: $size + $px;
      }
    }
    @if $task == 'mg-b' {
      .mg-b_#{$size} {
        margin-bottom: $size + $px;
      }
    }
    @if $task == 'mg-tb' {
      .mg-tb_#{$size} {
        margin-top: $size + $px;
        margin-bottom: $size + $px;
      }
    }
    @if $task == 'pg-t' {
      .pg-t_#{$size} {
        padding-top: $size + $px;
      }
    }
    @if $task == 'pg-b' {
      .pg-b_#{$size} {
        padding-bottom: $size + $px;
      }
    }
    @if $task == 'pg-tb' {
      .pg-tb_#{$size} {
        padding-top: $size + $px;
        padding-bottom: $size + $px;
      }
    }
    @if $task == 'btn-pg' {
      .btn-pg_#{$size} {
        padding-left: $size + $px;
        padding-right: $size + $px;
      }
    }
    @if $task == 'list-items-mg' {
      .list-items-mg_#{$size} {
        >* { margin-top: $size + $px; }
      }
    }
    @if $task == 'row-items-mg' {
      // Bootstrap custom indents
      .row-items-mg_#{$size} {
        margin-left: -($size/2) + $px;
        margin-right: -($size/2) + $px;
        >[class*="col-"] {
          padding-left: ($size/2) + $px;
          padding-right: ($size/2) + $px;
        }
      }
    }
    @if $task == 'row-items-mg-b' {
      .row-items-mg-b_#{$size} {
        margin-top: -($size) + $px;
        >[class*="col-"] {
          margin-top: $size + $px;
        }
      }
    }
    @if $task == 'tbl-items-pg' {
      .tbl-items-pg_#{$size} {
        margin: {
          left:  -($size/2) + $px;
          right: -($size/2) + $px;
        }
        >*>* {
          padding: {
            left:  ($size/2) + $px;
            right: ($size/2) + $px;
          }
        }
      }
    }
  }
  @if $task == 'list-items-mg' {
    [class*="list-items-mg_"] {
      >*:first-child { margin-top: 0; }
    }
  }
}

