// Font-size
@for $i from 1 through 19 {
  .fz_#{10+$i} {
    font-size: 10px +$i !important
  }
}
@for $i from 15 through 30 {
  .fz_#{2*$i} {
    font-size: 2px *$i !important
  }
}

// Line-height
@for $i from 6 through 30 {
  .lh_#{2*$i} {
    line-height: 2px *$i !important
  }
}

// Margin element list (li/dd)
@for $i from 1 through 10 {
  .list_mg_#{5*$i} {
    >* {margin-top: 5px *$i}
  }
}
[class*="list_mg"] {
  >*:first-child {margin-top: 0}
}

// Margin element (top/bottom)
@for $i from 0 through 10 {
  .mg {
    &_t_#{5*$i} {margin-top: 5px*$i !important}
    &_b_#{5*$i} {margin-bottom: 5px*$i !important}
    &_tb_#{5*$i}{
      margin-top: 5px*$i;
      margin-bottom: 5px*$i !important
    }
  }
}

// Padding element (top/bottom/left/right)
@for $i from 0 through 10 {
  .pg {
    &_t_#{5*$i} {padding-top: 5px*$i !important}
    &_b_#{5*$i} {padding-bottom: 5px*$i !important}
    &_tb_#{5*$i}{
      padding-top: 5px*$i !important;
      padding-bottom: 5px*$i !important
    }
    &_l_#{5*$i} {padding-left: 5px*$i !important}
    &_r_#{5*$i} {padding-right: 5px*$i !important}
    &_lr_#{5*$i}{
      padding-left: 5px*$i;
      padding-right: 5px*$i !important
    }
  }
  .btn_pg_#{5*$i} {
    padding-left: 5px *$i !important;
    padding-right: 5px *$i !important
  }
}

// List icons
.list_icons {
   >* {position: relative;}
   &__icon {
    position: absolute; left: 0;
   }
  @for $i from 8 through 50 {
    &_pg_l_#{2*$i} > * {
      padding-left: 2px *$i
    }
  }
}

// Table style
.tbl {
  $root: &;
  &__list {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    >*{display: table-cell; vertical-align: middle;}
    #{$root}_vertical_t > & >*{vertical-align: top;}
    #{$root}_vertical_b > & >*{vertical-align: bottom;}
  }
  @for $i from 1 through 10 {
    &_mg_#{5*$i} {
      margin: {
        left:  -5px *$i;
        right: -5px *$i;
      }
    }
    &_mg_#{5*$i},
    &_pg_#{5*$i} {
      > #{$root}__list > * {
        padding: {
          left:  5px *$i;
          right: 5px *$i;
        }
      }
    }
  }
}

// Bootstrap (add style)
.row {
  @for $i from 0 through 12 {
    &_mg {
      &_#{5*$i} {
        margin-left: -(5px*$i)/2;
        margin-right: -(5px*$i)/2;
        >[class*="col-"] {
          padding-left: (5px*$i)/2;
          padding-right: (5px*$i)/2
        }
      }
      &_b_#{5*$i} {
        >[class*="col-"] {
          padding-bottom: 5px *$i
        }
      }
    }
  }
}

// Grid float
.rw {
  > * {float: left; min-height: 1px}
  @for $i from 1 through 10 {
    &_mg {
      &_#{5*$i} {
        margin-left: -5px *$i !important;
        >*{margin-left: 5px *$i}
      }
      &_b_#{5*$i} {
        margin:0 0 -5px *$i -5px *$i;
        >*{margin:0 0 5px *$i 5px *$i}
      }
    }
  }
}

// Grid inline
.rw-inline {
  letter-spacing: -0.3em;
  >* {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    letter-spacing: normal;
  }
  @for $i from 1 through 10 {
    &_mg {
      &_#{5*$i} {
        margin-left: -5px *$i !important;
        >*{ margin-left: 5px *$i }
      }
      &_b_#{5*$i} {
        margin:0 0 -5px *$i -5px *$i;
        >*{ margin:0 0 5px *$i 5px *$i }
      }
    }
  }
}