// Font-size
  @for $i from 1 through 19 {
    .fz_#{10+$i} {
      font-size: 10px +$i !important
    }
  }
  @for $i from 15 through 30 {
    .fz_#{2*$i} {
      font-size: 2px *$i !important
    }
  }
// Line-height
  @for $i from 6 through 30 {
    .lh_#{2*$i} {
      line-height: 2px *$i !important
    }
  }
// Margin element list (li/dd)
  @for $i from 1 through 10 {
    .list_mg_#{5*$i} {
      >* {margin-top: 5px *$i}
    }
  }
  [class*="list_mg"] {
    >*:first-child {margin-top: 0}
  }
// Padding element
  @for $i from 0 through 10 {
    .pg_#{5*$i} {
      padding: 5px *$i !important
    }
    .pg_tb_#{5*$i} {
      padding-top: 5px *$i !important;
      padding-bottom: 5px *$i !important
    }
    .btn_pg_#{5*$i} {
      padding-left: 5px *$i !important;
      padding-right: 5px *$i !important
    }
  }
// One margin element (top/bottom)
  @for $i from 0 through 10 {
    .one {
      &-mg {
        &_t_#{5*$i} {margin-top: 5px*$i !important}
        &_b_#{5*$i} {margin-bottom: 5px*$i !important}
        &_tb_#{5*$i}{
          margin-top: 5px*$i;
          margin-bottom: 5px*$i !important
        }
      }
    }
  }
// List icons
  .list_icons {
     >* {position: relative;}
     &__icon {
      position: absolute; left: 0;
     }
    @for $i from 8 through 50 {
      &_pg_left_#{2*$i} > * {
        padding-left: 2px *$i
      }
    }
  }
// Bootstrap (add style)
  @for $i from 0 through 12 {
    .row {
      &_mg {
        &_#{5*$i} {
          margin-left: -(5px*$i)/2;
          margin-right: -(5px*$i)/2;
          >[class*="col-"] {
            padding-left: (5px*$i)/2;
            padding-right: (5px*$i)/2
          }
        }
        &b_#{5*$i} {
          >[class*="col-"] {
            padding-bottom: 5px *$i
          }
        }
      }
    }
  }
// Table style
  .tbl {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    >*{display: table-cell; vertical-align: middle}
    &_top>*,td{vertical-align: top;}
    &_bot>*,td{vertical-align: bottom;}
    @for $i from 1 through 10 {
      &_mg_#{5*$i} {
        >*,td{padding-left: 5px *$i}
        >*:first-child,
        tr td:first-child{padding-left: 0}
      }
    }
  }
// Grid float
  .rw {
    > * {float: left; min-height: 1px}
    @for $i from 1 through 10 {
      &_mg_#{5*$i} {
        margin-left: -5px *$i;
        >*{margin-left: 5px *$i}
      }
      &_mgb_#{5*$i} {
        margin:0 0 -5px *$i -5px *$i;
        >*{margin:0 0 5px *$i 5px *$i}
      }
    }
  }
// Grid inline
  .rw-inline {
    letter-spacing: -0.3em;
    >* {
      display: inline-block;
      vertical-align: top;
      min-height: 1px;
      letter-spacing: normal;
    }
    @for $i from 1 through 10 {
      &_mg_#{5*$i} {
        margin-left: -5px *$i;
        >*{margin-left: 5px *$i}
      }
      &_mgb_#{5*$i} {
        margin:0 0 -5px *$i -5px *$i;
        >*{margin:0 0 5px *$i 5px *$i}
      }
    }
  }

// Grid DL
  // dl float
  // .rw-dl {
  //   dt {float: left}
  //   @for $i from 1 through 5 {
  //     &.w#{50*$i} dt {width: 50px *$i}
  //     &.w#{50*$i} dd {margin-left: (50px*$i)+5}
  //   }
  //   &[class*="w50%"] dt {width: 50%}
  //   &[class*="w50%"] dd {margin-left: 50%}
  //   &[class*="w50%"].mg5 dt {width: 49.5%}
  //   &[class*="w50%"].mg5 dd {margin-left: 50.5%}
  // }
