// preview theme
body
  background: #F7FBEE
.header,
.footer
  background: #9ACD32

body
  font-size: em(14px)
  line-height: em(22px)
  font-family: $tm_ff_d
  color: $tm_color_d
html,body,.container
  min-width: 320px
// .container
//   max-width: 990px !important
//   width: auto !important

// background-color
.bg-white
  background-color: #fff
.bg-black
  background-color: #000


