/*Оформление кнопок*/

.button-read {
  background-image: url("../img/icon-arrow.png");
  background-color: rgba(241, 226, 27, 0);
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 30px;
  border-color: rgb(241, 226, 27);
  border-style: solid;
  border-width: 2px;
  width: 119px;
  height: 39px;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  text-indent: 18px;
  text-align: left;
  color: rgb(255, 255, 255);
  line-height: 0.778;
  margin-left: -400px;
  position: absolute;
  z-index: 1000;
}


/*Оформление слайда*/

.carousel-caption h3 {
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  color: rgb(254, 254, 254);
  line-height: 1.125;
  text-align: left;
}

.body-post-slaider {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  color: rgb(255, 255, 255);
  text-align: left;
}

.ava-mini-slaider {
    float: left;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(231, 231, 231);
    margin-top: 50px;
    width: 49px;
    height: 49px;

}

.body-slaider-data {
    font-size: 16px;
    font-family: "Source Sans Pro";
    color: rgb(255, 255, 255);
    line-height: 0.875;
    width: 200px;
    height: 52px;
    float: right;
    position: absolute;
    margin-top: 60px;
    margin-left: 70px;
}

.body-slaider-data span {
  font-size: 16px;
  font-family: "Source Sans Pro";
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 0.875;
}

.btn-left {
  float: left;
  margin-top: -15px;
  margin-left: -30px;
}

.dark-slider {
  opacity:0.5;
}

/*Оформление профиля*/


/*Оформление журнала*/

.blog-content {
  text-align: center;
}

.content-blog {
  background-color: rgb(0, 0, 0);
  opacity: 0.502;
  width: 399px;
  height: 382px;
  z-index: 988;
}


.container {
  width: 1230px;
}

.header {
  width: 1230px;
}
.logo {
  width: 130px;
  float: left;
}
.menu-no-logo {
  float: left;
  width: 1100px;
  height: 71px;
  padding-top: 30px;
}
.menu {
  padding-left: 40px;
  width: 700px;
  float: left;

}
.search {
  padding-left: 40px;
  width: 230px;
  float: left;
}
.user {
  width: 130px;
  float: right;
}

.global-menu {
 margin-left: -10%;
 float: right;
}

.global-menu2 {
 padding-left: 50px;
}

ul.global-menu li {
    display: inline;
    text-transform: uppercase;
    color: #000;
    padding-left: 30px;
}

ul.global-menu2 li {
    display: inline;
    text-transform: uppercase;
    color: #000;
    padding-left: 30px;
}

ul.global-menu li a {
    color: #000;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-weight: normal;
    text-transform: uppercase;
    display: inline;
}
span.font-user-menu {
    color: #000;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-weight: normal;
    text-transform: none;
    display: inline;
}
.icon-search {
  position: absolute;
    z-index: 1;
    margin-top: 9px;
    margin-left: 170px; 
}
.input-group {
  padding-top: 23px;
  text-align: right;
  float: right;
  width: 230px;
}
.global-user {
  padding-left: 0px;
  font-size: 12px;
    font-family: MyriadPro-Regular;
    text-align: right;
    padding-top: 5px;
}
.global-user a {
  color: #000;
}
.global-user li {
  list-style-type: none;
  text-align: left;
}
.icon {
  margin-right: 10px;
  margin-bottom: 5px;
}
.global-search {
  width: 195px;
  border-radius: 15px;
  border: none;
  background-color: #eaeaea;
  height: 34px;
    text-indent: 1em; /* Отступ первой строки */
}
/*h2{
    margin: 0;     
    color: #666;
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;   
}*/
.item{
    background-color: rgba(0, 0, 0, 0.89);   
    text-align: center;
    height: 480px;
}
.carousel {
    /*margin-top: 20px;*/
    position: relative;
    height: 480px;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 480px;

}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 130px;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  /*margin-left: 130px;*/
  text-align: left;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 15px;
  height: 15px;
  background-color: #f1e21b;
  border: none;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 10%;
    /* z-index: 10; */
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    width: 800px;
    height: 480px;
    position: absolute;
    float: left;
    margin-left: -116px;
}
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}
.title-post-slaider {
    font-size: 40px;
    color: #FFF;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 140px;

}

.slaider-like {
    list-style-type: none;
    float: left;
    position: absolute;
    /* left: 130px; */
    padding-left: 0;
    padding-top: 80px;
}
ul.slaider-like li {
    display: inline;
    text-transform: uppercase;
    color: #fff;
    padding-left: 30px;
    font-size: 20px;
    font-family: 'SourceSansPro-Regular';
}
.slaider-arrow {
    padding-right: 10px;
    padding-left: 10px;
}

.btn-read {
    border-radius: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    margin-right: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: solid #f1e21b 2px;
}
.data-slaider {
    height: 50px;
    margin-bottom: 50px;
}