footer.s-footer
  .container
    .row
      .col-xs-4
        p.copyright © 2015 Copyright
      .col-xs-4
        +multiMenu(main_menu,'footer-menu').p
      .col-xs-4
        p.developer.fr Разработка сайта: 
          a(href="//studio.ru" target="_blank") studio.ru
