<!-- build:js js/vendors.min.js -->
// bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/jquery-placeholder/jquery.placeholder.js')
// endbower
<!-- endbuild -->
+scripts("js/theme.js"+revAppend)