if sidebarLeft
  aside.main-layout__sidebar.main-layout__sidebar_left
    if panel
      .panel
        h3.panel__title
          | left panel
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quae eius, vitae inventore necessitatibus. Cumque nobis ea mollitia blanditiis qui quam natus, eligendi laboriosam optio quis. Sit saepe, nobis eius.
if sidebarRight
  aside.main-layout__sidebar.main-layout__sidebar_right
    if panel
      .panel
        h3.panel__title
          | right panel
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quae eius, vitae inventore necessitatibus. Cumque nobis ea mollitia blanditiis qui quam natus, eligendi laboriosam optio quis. Sit saepe, nobis eius.